.calendar-box {
  background-color: $light-blue;
  border-radius: 16px;
  padding: 28px 16px;
  margin: 48px 16px;
  height: 90vh;
}

.fa-chevron-left, .fa-chevron-right {
  font-size: 24px;
  color: $dark-blue;
}

.day-marked {
  background-color: $turquoise;
  color: white;
  border-radius: 10px;
  margin: 0px 7px;
  transition: 0.3s ease-in-out;
}

.day-marked:hover {
  background-color: $white;
  color: $dark-turquoise;
  font-weight: bold;
  cursor: pointer;
}

.current-day-marked {
  outline: 5px solid $dark-turquoise;
  font-weight: bold;
  background-color: white;
  color: $turquoise;
}

.calendar-day {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-title {
  color: $dark-blue;
  font-size: 2.5rem;
  font-family: $headers-font;
  font-weight: bold;
}

.calendar-heading i {
  color: $dark-blue;
  font-size: 24px;
}

.simple-calendar th {
  border: none;
  text-align: center;
  color: $dark-blue;
  font-weight: 800;
  padding-bottom: 24px;
}

.simple-calendar td {
  border: none;
  text-align: center;
}

.simple-calendar .prev-month {
  background-color: $light-blue;
  color: $light-gray
}

.simple-calendar .next-month {
  background-color: $light-blue;
  color: $light-gray;
}

.simple-calendar .day {
 height: 55px;
}

.simple-calendar .today {
  color: $turquoise;
  font-weight: bold;
}
