.events-list {
  background-color: $light-blue;
  border-radius: 16px;
  padding: 28px;
  margin: 48px 16px;
  height: 90vh;
}

.header {
  color: $dark-blue;
  margin-left: 16px;
  font-weight: bold;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-event {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  width: 10%;
  &:hover {
    background-color: $dark-turquoise;
  }
}

.create-event:hover .new-btn {
  color: white;
}

.new-btn:hover {
  color: white;
}
