.event-card {
  background-color: white;
  display: flex;
  margin: 16px 0px;
  border-radius: 16px;
  padding: 16px;
}

.start-day {
  width: 80px;
  background-color: $light-blue;
  border-radius: 10px;
  text-align: center;
  color: $turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekday {
  font-size: 22px;
  font-weight: 600;
}

.month-day {
  font-size: 42px;
  font-weight: bold;
  line-height: 32px;
}

.event-content {
  margin: 10px 0px 0px 16px;
  width: 80%;
  p, h3 {
    margin-bottom: 4px;
  }
}

.actions {
  padding: 10px 0px;
}

.event-title {
  color: $turquoise;
}

.event-descr, .end-date {
  color: $dark-blue;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-btn, .delete-btn, .new-btn {
  font-size: 24px;
  color: $turquoise;
}

.edit-btn:hover, .delete-btn:hover {
  color: $dark-turquoise;
}
