.form-header {
  color: $dark-blue;
}

#new_event input[type="text"], input[type="hidden"] {
  border: none;
  border-bottom: 2px solid $light-gray;
  &:focus {
    box-shadow: none;
    border-bottom: 2px solid $turquoise;
  }
}

#new_event label {
  margin-top: 32px;
  color: $dark-blue;
}

.recurring-box {
  display: flex;
  align-items: center;

  p {
    margin-bottom: -9px;
    font-weight: 500;
    margin-right: 24px;
    color: $dark-blue
  }
}

#new_event .recurring-box label {
  color: transparent;
}

.frequency-period p {
  color: $dark-blue;
}
